<div class="container">
  <h1>Foldable Portfolios!</h1>

 <div class="row">
  <h2>Enter your name</h2>

 <hr>
 <div class="row">
  
  <form class="create-update-form" action="/" method="POST">

    <div class="form-group">
      <label for="firstname">Enter First Name:</label>
      <input type="text" id="firstName" name="firstName">

      <label for="lastname">Enter Last Name:</label>
      <input type="text" id="lastName" name="lastName">
    </div>

    <button class="btn-default" id="add" type="submit">Create Portfolio</button>
  </form>

</div>

</div>
