
<div class="container" id="containerIndex"><br>
<!-- Origami Filled icon by Icons8 -->
<img src="https://png.icons8.com/origami/ios7/32" title="Origami" width="32" height="32">&nbsp;&nbsp;&nbsp;&nbsp;My Foldable Portfolio
<p id="indexHeading" class="text-center">Enter your details</p>

  <div class="row">
    <form action="/" method="POST">

    <fieldset class="fieldset">
      <legend>Introduction</legend>
      <div class="form-group">
        <input id="firstName" type="text" class="form-control" name="firstName" maxlength="12"required>
          <label for="firstName" class="fieldsetLabel"><span>*</span>First Name<i> in upper case</i></label>
      </div>
          
      <div class="form-group">
        <input id="lastName" type="text" class="form-control" name="lastName" maxlength="12" required>
        <label for="lastName" class="fieldsetLabel"><span>*</span>Last Name <i> in upper case</i></label>
      </div>
    

      <div class="form-group">
        <textarea id="elevator" name="elevator" class="form-control" maxlength="300" required></textarea>
        <label for="elevator" class="fieldsetLabel"><span>*</span>Describe yourself in a few words</label>
      </div>
      

      <div class="form-group">
        <input id="picture" type="text" class="form-control" name="picture" required>
        <label for="picture" class="fieldsetLabel"><span>*</span>Picture URL</label>
      </div>
    </fieldset>

  
    <fieldset class="fieldset">
      <legend>Contact Info</legend>
      <div class="form-group">
        <input id="webAddress" type="text" class="form-control" name="webAddress" maxlength="44" required>
        <label for="webAddress" class="fieldsetLabel"><span>*</span>Web Page</label>
      </div>
      

      <div class="form-group">
        <input id="email" type="email" class="form-control" name="email" maxlength="44" required>
        <label for="email" class="fieldsetLabel"><span>*</span>Email</label>
      </div>

      <div class="form-group">
        <input id="address" type="text" class="form-control" name="address" maxlength="44" required>
        <label for="address" class="fieldsetLabel"><span>*</span>Address</label>
      </div>
    </fieldset>

  <fieldset class="fieldset">
    <legend>Education and Skills</legend>
      <div class="form-group">
          <input id="education1" type="text" class="form-control" name="education1" maxlength="44" required>
          <label for="education1" class="fieldsetLabel"><span>*</span>Education 1</label>
      </div>

      <div class="form-group">
        <input id="education2" type="text" class="form-control" name="education2" maxlength="44">
        <label for="education2" class="fieldsetLabel"><span>*</span>Education 2</label>
      </div>

      <div class="form-group">
        <input id="education3" type="text" class="form-control" name="education3" maxlength="44">
        <label for="education3" class="fieldsetLabel"><span>*</span>Education 3</label>
      </div>

      <div class="form-group maxlength="44" col-md-12">
        <input id="skills" type="text" class="form-control" name="skills"  maxlength="200" required maxlength=200>
        <label for="skills" class="fieldsetLabel"><span>*</span>Skills</label>
      </div>

  </fieldset>

     <!-- Work Experience -->
     <fieldset class="fieldset">
      <legend>Work Experience</legend>
      <div class="form-group">
        <input id="exp1" type="text" class="form-control" name="exp1" maxlength="50" required>
        <label for="exp1"  class="fieldsetLabel"><span>*</span>Job title 1</label>
      </div>

      <div class="form-group">
        <input id="exp1desc" type="text" class="form-control" name="exp1desc"  maxlength="170" required maxlength=180>
        <label for="exp1desc"  class="fieldsetLabel"><span>*</span>Description</label>
      </div>

      <div class="form-group">
        <input id="exp2" type="text" class="form-control" name="exp2" maxlength="50" required>
        <label for="exp2" class="fieldsetLabel"><span>*</span>Job title 2</label>
      </div>

      <div class="form-group">
        <input id="exp2desc" type="text" class="form-control" name="exp2desc"  maxlength="170" required>
        <label for="exp2desc" class="fieldsetLabel"><span>*</span>Description</label>
      </div>

      <div class="form-group">
        <input id="exp3" type="text" class="form-control" name="exp3" maxlength="50" required>
        <label for="exp3"  class="fieldsetLabel"><span>*</span>Job title 3</label>
      </div>

      <div class="form-group">
        <input id="exp3desc" type="text" class="form-control" name="exp3desc"  maxlength="170" required maxlength=200>
        <label for="exp3desc"  class="fieldsetLabel"><span>*</span>Description</label>
      </div>
    </fieldset>
      <!-- Projects -->

    <fieldset class="fieldset">
    <legend>Projects</legend>
      <div class="form-group">
        <input id="proj1" type="text" class="form-control" name="proj1" maxlength="50" required>
        <label for="proj1"  class="fieldsetLabel"><span>*</span>Project 1</label>
      </div>

      <div class="form-group">
        <input id="proj1desc" type="text" class="form-control" name="proj1desc"  maxlength="170" required>
        <label for="proj1desc"  class="fieldsetLabel"><span>*</span>Description</label>
      </div>

      <div class="form-group">
        <input id="proj2" type="text" class="form-control" name="proj2" maxlength="50" required>
        <label for="proj2"  class="fieldsetLabel"><span>*</span>Project 2</label>
      </div>

      <div class="form-group">
        <input id="proj2desc" type="text" class="form-control" name="proj2desc"  maxlength="170" required>
        <label for="proj2desc"  class="fieldsetLabel"><span>*</span>Description</label>
      </div>

      <div class="form-group">
        <input id="proj3" type="text" class="form-control" name="proj3" maxlength="50" required>
        <label for="proj3"  class="fieldsetLabel"><span>*</span>Project 3</label>
      </div>

      <div class="form-group">
        <input id="proj3desc" type="text" class="form-control" name="proj3desc"  maxlength="170" required>
        <label for="proj3desc" class="fieldsetLabel"><span>*</span>Description</label>
      </div>
    </fieldset>

    <fieldset class="fieldset">
    <legend>Customize</legend>
      <div class="form-group">
        <div class="col-md-6">
          <input class="jscolor" value="#ff7a58" name="color" id="bgColor">
          <label for="color" class="choiceLabel">Choose background color</label>
        </div>
        <div class="col-md-6">
          <input class="jscolor" value="black" name="color" id="fontColor">
          <label for="color" class="choiceLabel">Choose font color</label>
        </div>
      </div>
    </fieldset>

      <button class="btn btn-default" type="submit" id="add" name="action">CREATE MY PORTFOLIO</button>
    </form>
   </div>

</div>

<h6 class="text-center" id="footer">www.myfoldableportfolio.com -- ©2017 Anuradha Ramachandra, Ebru Yucesar</h6><br>
  


 
 
