<br><div class="containerMain">
<!-- Origami Filled icon by Icons8 -->
	<img src="https://png.icons8.com/origami/ios7/32" title="Origami" width="32" height="32">&nbsp;&nbsp;&nbsp;&nbsp;My Foldable Portfolio
	
	<div class="row">
		<p id="openingTxt">We have an idea to make your job application stand out.</p>
	</div>
	<div class="row foldingBanner">
		<ul class="navigation">
			<a class="bttn" href="#">CLICK TO LEARN HOW!</a>
			<li class="n1"><a href="#"><span class="glyphicon glyphicon-pencil icon" aria-hidden="true"></span>&nbsp;&nbsp;<h5 class="inst">Click the start button below and fill out the form</h5></a></li>
			<li class="n2"><a href="#"><span class="glyphicon glyphicon-print icon" aria-hidden="true"></span>&nbsp;&nbsp;<h5 class="inst">Once your portfolio is generated, click the print button</h5></a></li>
			<li class="n3"><a href="#"><span class="glyphicon glyphicon-save icon" aria-hidden="true"></span>&nbsp;&nbsp;<h5 class="inst">Save your pdf, and print it on a nice sheet of paper</h5></a></li>
			<li class="n4"><a href="#"><span class="glyphicon glyphicon-scissors icon" aria-hidden="true"></span>&nbsp;&nbsp;<h5 class="inst">Cut it around the black borders and fold it into four</h5></a></li>
			<li class="n5"><a href="#"><span class="glyphicon glyphicon-star icon" aria-hidden="true"></span>&nbsp;&nbsp;<h5 class="inst">Now you can pass it around and stand out! Most of all, it is free!</h5></a></li>
		</ul>
		<img src="/assets/css/portfolio.jpg" alt="img" id="mainPageImg">
	</div>

	<div class="row text-center">
	    <form class="create-update-form" action="/input" method="GET">
	    	<br><button class="btn btn-primary btn-lg" id="start">START</button>
	    </form>
	</div>
    
</div>

<h6 class="text-center" id="footer">www.myfoldableportfolio.com -- ©2017 Anuradha Ramachandra, Ebru Yucesar</h6><br>