<div class="container">
  <h1>My Portfolio</h1>

 <div class="row">
 <ul>
		{{#each users}}
	 	<div id="names">{{this.firstName}} {{this.lastName}}</div>
	 	{{/each}}
  </ul>

  <button class="btn-default" id="printBtn">CONVERT</button>