<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>My Portfolio</title>
  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="https://use.fontawesome.com/b668c475b8.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link rel="stylesheet" href="../public/assets/css/style.css">

  <script type="text/javascript"></script>
</head>
<body>

<div class="container">
    <div class="row equal">
		 <div class="col-xs-6 col-xs-6 main">
			<img src="https://media.licdn.com/mpr/mpr/shrinknp_200_200/AAEAAQAAAAAAAAw9AAAAJGU1MDUyNzVkLWY1YzUtNGU3ZS1hNzE5LTU1NjcxNmJhYWZiOA.jpg" class="center-block userImg"><hr>
			<h1 class="text-center hello">HELLO!</h1>
			<h1 class="text-center name">I AM EBRU YUCESAR.</h1>
			<h5 class="elevPitch">Elevator Pitch goes here I am great I am amazing Hire me Cause I am great blablalblal lblallsdasjh jhasjhadjasadhha aadwjhsjhsjh jafhjjshshs hsgsfhjhfhf fvhsdjd sjhsjdjh sdfjhjjhsf jfhsfshf sjshfjshsjj xvxcvcvdf sdfsd sdfsd sdf dfdfdfdf sdfdfdf fdfseewd fwfefhghhy.</h5>
		 </div>
		 
		 <div class="col-xs-6 col-xs-6 about">
			<h2 class="text-center">ABOUT ME</h2><hr>
			<h3>Contact</h3>
				<ul>
					<li>www.amazingwebsite.com</li>
					<li>amazingperson@gmail.com</li>
					<li>Amazing person's address</li>
				</ul><hr>
			<h3>Education</h3>
				<ul>
					<li>2000 - 2004: Amazing University - Amazing Department</li>
					<li>1996 - 1998: Another Amazing School - Great Department</li>
					<li>1900 - 1910: Amazing Bootcamp - Web Development</li>
				</ul><hr>
			<h3>Skills</h3>
				<h5>Blabla, adssssss, jkshsdjksddfjk, iasifsisuis, dssdhfjfjjsd, jklsdhsdfdsjkfh, jhsdfsdjfhsdfh, khsjfhsjhddh, jsdhdfjkgdkfjdk, lkdjgsdghfjkfj, jhdfjh, jffhdjfjdfj, jadksfjsfj, jffhdjfjdfj, jadksfjsfj, jffhdjfjdfj, jadksfjsf.</h5>
		 </div>
	</div>
	
    <div class="row equal">
		 <div class="col-xs-6 col-xs-6 experience">
			<h2 class="text-center">EXPERIENCE</h2><hr>
					<h4>2009 - Present: My First Job</h4>
						<ul>
							<li>I was the person who did everything and I was amazing hjshjjs gjhdfgdjhsdjh jhsdgfhdsj fddfdfddf.</li>
							<li>I was the person who did everything and I was amazing dfshgsdh hjsgdfhdgf sdhfjgsdf dfdffddf.</li>
						</ul><hr>
					<h4>2009 - 2011: My Second Job</h4>
						<ul>
							<li>I was the person who did everything and I was amazing hjshjjs gjhdfgdjhsdjh jhsdgfhdsj edfdffdsd.</li>
							<li>I was the person who did everything and I was amazing dfshgsdh hjsgdfhdgf sdhfjgsdf sdfdsfsdfds.</li>
						</ul><hr>
					<h4>2005 - 2010: My Third Job</h4>
						<ul>
							<li>I was the person who did everything and I was amazing hjshjjs gjhdfgdjhsdjh jhsdgfhdsj sdsdsdssds.</li>
							<li>I was the person who did everything and I was amazing dfshgsdh hjsgdfhdgf sdhfjgsdf sdfsdfdsfs.</li>
						</ul>
		</div>
		 
		<div class="col-xs-6 col-xs-6 projects">
			<h2 class="text-center">PROJECTS</h2><hr>
				<h4>My First Project</h4>
					<ul>
						<li>This Freelance Project: I was the person who did everything and I was amazing. jksdhfdsjfhdsfkjds hjksdfhdskjfsdjkfh kjhsdfjkdsjhd sdfdfdf sdfdfsdfsf efsdsdfd sdfdsf sdfsd.</li>
					</ul><hr>
				<h4>My Second Project</h4>
					<ul>
						<li>This Freelance Project: I was the person who did everything and I was amazing. sfhsdjfkdhf dkjfhdfjkdfhd jskdfhdjksjdhfkdjsf sdfdsfdsfd sdfdsfdfdf sdfdsfds sdfsdfdsf.</li>
					</ul><hr>
				<h4>My Third Project</h4>
					<ul>
						<li>This Freelance Project: I was the person who did everything and I was amazing skjfhjkfkshdfkds jkhdjfhdjfkshfhsshfj hfhfjjshsjsj sdfsdfdf sdfsd jdkhfdjkhfdhj kjdhfdjf ksjdhf sdfdsfdsf sfdsfds.</li>
					</ul><hr>
				<div id="credit"><i class="fa fa-map-o fa-lg" aria-hidden="true">&nbsp;&nbsp;</i>www.myfoldableportfolio.com<br>&copy;2017 Anuradha Ramachandra, Ebru Yucesar</div><br>
		</div>
	</div>
</div>
  

  
  <br><h6 class="text-center">www.myfoldableportfolio.com</h6>

  <script src="../public/assets/javascript/portfolio.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</body>
</html>
 