<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>My Portfolio</title>
  <script src="https://code.jquery.com/jquery.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link rel="stylesheet" href="../public/assets/css/style.css">
  <link href="https://fonts.googleapis.com/css?family=Caveat+Brush|Permanent+Marker" rel="stylesheet">
  <script type="text/javascript"></script>
</head>
<body>

<div class="container"><br>
    <div class="row">
		 <div class="col-xs-6 col-xs-6 main">
			<img src="https://media.licdn.com/mpr/mpr/shrinknp_200_200/AAEAAQAAAAAAAAw9AAAAJGU1MDUyNzVkLWY1YzUtNGU3ZS1hNzE5LTU1NjcxNmJhYWZiOA.jpg" class="center-block userImg"><hr>
			<h1 class="text-center hello">HELLO!</h1>
			<h1 class="text-center">I AM EBRU YUCESAR.</h1>
			<h5 class="elevPitch">Elevator Pitch goes here I am great I am amazing Hire me Cause I am great blablalblal lblallsdasjh jhasjhadjasadhha aadwjhsjhsjh jafhjjshshs hsgsfhjhfhf fvhsdjd sjhsjdjh sdfjhjjhsf jfhsfshf sjshfjshsjj xvxcvcvdf sdfsd sdfsd sdf dfdfdfdf sdfdfdf fdfseewd fwfefhghhy.</h5>
		 </div>
		 
		 <div class="col-xs-6 col-xs-6 about">
			<h2 class="text-center">ABOUT ME</h2><hr>
			<h3>Education</h3>
				<ul>
					<li>2000-2004: Amazing University - Amazing Department</li>
					<li>1996-1998: Another Amazing School - Great Department</li>
					<li>1900- 1910: Amazing Bootcamp - Web Development</li>
				</ul><hr>
			<h3>Skills</h3>
				<h5>Blabla, adssssss, jkshsdjksddfjk, iasifsisuis, dssdhfjfjjsd, jklsdhsdfdsjkfh, jhsdfsdjfhsdfh, khsjfhsjhddh, jsdhdfjkgdkfjdk, lkdjgsdghfjkfj, jhdfjh, jffhdjfjdfj, jadksfjsfj, jffhdjfjdfj, jadksfjsfj, jffhdjfjdfj, jadksfjsf.</h5><hr>
			<h3>Contact</h3>
				<ul>
					<li>www.amazingwebsite.com</li>
					<li>amazingperson@gmail.com</li>
					<li>Amazing person's address</li>
				</ul>
		 </div>
	</div>
	
    <div class="row">
		 <div class="col-xs-6 col-xs-6 experience">
			<h2 class="text-center">EXPERIENCE</h2><hr>
				<h3>Work Experience</h3>
					<ul>
						<li>1900-Present: Amazing Company -- Amazing Developer</li>
						<li>1902-1905: Great Startup -- Great Salesperson</li>
						<li>1908-1988: My Amazing Business -- One Man Show</li>
					</ul><hr>
				<h3>Projects</h3>
					<ul>
						<li>This Freelance Project: I was the person who did everything</li>
						<li>Another Project I Participated: I did almost nothing but still</li>
						<li>Free Time Project: I had so much free time, can you believe?</li></li>
					</ul><hr>
				<h3>Fun Facts</h3>
					<ul>
						<li>Hahahahahah sdjfhfdfh djhdjfhdfdjfh dfjhdjfh djfdh.</li>
						<li>Dfdkjg kjfg jkdfgfgkjgj fgjkfkgfj jfkgkjfgkj ffkgjfgj.</li>
						<li>rtriyj jldfkjdf jjkdjdfjj jfkjgfkgjf fkjg kfjgfk fgfgfgfgfgf fgfg.</li>
					</ul>
		</div>
		 
		<div class="col-xs-6 col-xs-6 showcase">
			<h2 class="text-center">SOME OF MY WORK</h2><hr>
				<div class="row">
					<div class="col-xs-12 col-xs-12">
						<img class="img-responsive" src="https://unsplash.it/500/220">
					</div>
				</div><br>
				<div class="row">
					<div class="col-xs-12 col-xs-12">
						<img class="img-responsive" src="https://unsplash.it/500/220">
					</div>
				</div>
		</div>

	</div>
</div>
  

  
  <br><footer class="footer text-center">www.foldableportfolio.com</footer>

  <script src="assets/javascript/main.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script src="assets/javascript/jquery.flip.min.js"></script>

</body>
</html>
 