* {
	box-sizing: border-box;
}

.container {
	margin-top: 50px;
}

.hello {
	color: #ff4719 !important;
}

h1 {
	font-weight: bolder;
	font-size: 70px;
}

h2 {
	font-size: 50px;
	font-weight: bolder;
}

h3 {
	font-weight: bolder;
	font-size: 40px;
}

.elevPitch {
	margin-right: 10px;
	margin-left: 10px;
}

.main {
	border: 10px solid #ff4719 !important;
	height: 600px;
}

.about {
	border: 10px solid #ff4719 !important;
	height: 600px;
	padding-top: 10px;
}

.experience {
	border: 10px solid #ff4719 !important;
	height: 600px;
}

.showcase {
	border: 10px solid #ff4719 !important;
	height: 600px;
}

img {

	margin: 0 auto;
}

.userImg {
	border-radius: 70px;
	height: 140px;
	width: 140px;
	margin: 0 auto;
	border: 10px solid #ff4719 !important;
	margin-top: 25px;
}
